@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Ubuntu:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

:root{
--primary-lighten : #007bff;
--primary : #1554a7;
--primary-darken : #0d3f82; 
--dark : #2b2b2b;
--darken: #1c1f21;
--light : #fefefe /*#ededed*/;
--success : #008272;
--success-darken : #0a6d18;
--danger : #ff0000;
--danger-darken : #bc0000;
--info : #2488d8;
--info-darken : #2956b2;
--warning : #c19c00;
--warning-darken : #9b7c00;
}

/**
*
*
*
* Background colors
*
*
*
**/

.light { 
	background-color: var(--light) 
}
.dark { 
	background-color: var(--dark) 
}
.black {
	background-color: black;
}
.primary { 
	background-color: var(--primary) 
}
.success { 
	background-color: var(--success) 
}
.danger { 
	background-color: var(--danger) 
}
.info { 
	background-color: var(--info) 
}
.warning { 
	background-color: var(--warning) 
}
.light { 
	background-color: var(--light) 
}
.dark { 
	background-color: var(--dark) 
}
.black {
	background-color: black;
}
.primary-darken { 
	background-color: var(--primary-darken) 
}
.success-darken { 
	background-color: var(--success-darken) 
}
.danger-darken { 
	background-color: var(--danger-darken) 
}
.info-darken { 
	background-color: var(--info-darken) 
}
.warning-darken { 
	background-color: var(--warning-darken) 
}
.darken { 
	background-color: var(--darken) 
}




/**
*
*
*
* Madia queries
*
*
*
**/
@media only screen and (max-width: 600px){
	.local-navbar-content-grid {
		display: grid;
		grid-template-columns: 2fr;
	}
} 

/**
*
*
*
* Alerts
*
*
*
**/
.local-alert {
	width: 100%;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	height: auto;
	color: white;
}

/**
*
*
*
* Badges
*
*
*
**/
.local-badge {
	padding : 2px 5px 2px 5px;
	width: 90px;
	color: white;
}
.local-badge-primary {
	background-color: var(--primary);
	color: white!important;
	font-size: 12px;
}
.local-badge-success {
	background-color: var(--success);
	color: white!important;
	font-size: 12px;
}
.local-badge-danger {
	background-color: var(--danger);
	color: white!important;
	font-size: 12px;
}
.local-badge-info {
	background-color: var(--info);
	color: white!important;
	font-size: 12px;
}
.local-badge-warning {
	background-color: var(--warning);
	color: white!important;
	font-size: 12px;
}
.local-badge-dark {
	background-color: var(--dark);
	color: white!important;
	font-size: 12px;
}

/**
*
*
*
* Buttons
*
*
*
**/
.local-btn {
	border: 0;
	padding: 5px 25px 5px 25px;
	font-family: 'Cabin', sans-serif;
}
.local-btn-dark {
	background-color: var(--dark);
	color: white;
}
.local-btn-primary {
	background-color: var(--primary);
	color: white;
}
.local-btn-success {
	background-color: var(--success);
	color: white;
}
.local-btn-danger {
	background-color: var(--danger);
	color: white;
}
.local-btn-info {
	background-color: var(--info);
	color: white;
}
.local-btn-warning {
	background-color: var(--warning);
	color: white;
}
.local-btn-border-dark {
	border: 2px solid var(--dark);
	background-color : white;
	color: var(--dark);
}
.local-btn-border-primary {
	border: 2px solid var(--primary);
	background-color : white;
	color: var(--primary);
}
.local-btn-border-success {
	border: 2px solid var(--success);
	background-color : white;
	color: var(--success);
}
.local-btn-border-danger {
	border: 2px solid var(--danger);
	background-color : white;
	color: var(--danger);
}
.local-btn-border-info {
	border: 2px solid var(--info);
	background-color : white;
	color: var(--info);
}
.local-btn-border-warning {
	border: 2px solid var(--warning);
	background-color : white;
	color: var(--warning);
}

/**
*
*
*
* Cards
*
*
*
**/
.local-card {
	border: .3 solid var(--dark);
	background-color: white;
	padding: 15px 15px 15px 15px;
	height: auto;

}
.local-card h1, h2, h3, h4, h5 {
	color: var(--dark);
	font-family: 'Poppins', sans-serif;
}
.local-card p, strong, i {
	color: rgba(0,0,0,.70);
}

/**
*
*
*
* Inputs
*
*
*
**/
.local-input {
	border-radius: 0 ;
}
.local-input-primary {
	border-color: var(--primary);
}
.local-input-success {
	border-color: var(--success);
}
.local-input-danger {
	border-color: var(--danger);
}
.local-input-warning {
	border-color: var(--warning);
}
.local-input-dark {
	border-color: var(--dark);
}
.local-input-info {
	border-color: var(--info);
}

/**
*
*
*
* Navbars
*
*
*
**/
.local-navbar-2 {
	height: 50px;
	width: 100%;
}
.local-navbar-4 {
	height: 70px;
	width: 100%;
}
.local-navbar-8 {
	height: 80px;
	width: 100%;
}
.local-navbar-dark {
	background-color: var(--dark);
	color: white;
}
.local-navbar-primary {
	background-color: var(--primary);
	color: white;
}
.local-navbar-success {
	background-color: var(--success);
	color: white;
}
.local-navbar-danger {
	background-color: var(--danger);
	color: white;
}
.local-navbar-info {
	background-color: var(--info);
	color: white;
}
.local-navbar-warning {
	background-color: var(--warning);
	color: white;
}
.local-navbar-content-grid {
	display: grid;
	grid-template-columns: 2fr 2fr;
}
.local-navbar-content-grid .left-side{
	justify-self : start;
}
.local-navbar-content-grid .right-side{
	justify-self : end;
}
.local-navbar-list {
	list-style: none;
}
.local-navbar-list li {
	display: inline;
	/*float: right;*/
	padding: 5px;
}

/**
*
*
*
* Tables
*
*
*
**/
.local-table {
	color: var(--dark);
}
.local-table .local-table-header {
	background-color: rgba(0,0,0,.1);
	font-weight: 500;
}
.local-table tr:hover {
	background-color: rgba(0,0,0,.1);
}
/**
*
*
*
* Tab menu
*
*
*
**/
.local-tab-menu {
	background-color: white;
	border: .5px solid rgba(0,0,0,.1);
	height: auto;
}
.local-tab-menu ul {
	list-style: none;
	padding: 0!important;
	margin: 0;
}
.local-tab-menu ul li {
	border-bottom: .5px solid rgba(0,0,0,.1);
	color : var(--dark);
	/*padding: 20px 0 20px 0; */
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 20px;
	transition: all .2 ease-out;

}
.local-tab-menu ul li:hover {
	background-color: var(--primary);
	color: white;

}
 /************************* Layouts *****************************/
/** Margin & Padding  **/
.local-m-2 {margin: 10px;}
.local-mx-2 {margin: 0 10px 0 10px;}
.local-my-2 {margin: 10px 0 10px 0;}
.local-m-auto {margin :0 auto;}

.local-m-4 {margin: 25px;}
.local-mx-4 {margin: 0 25px 0 25px;}
.local-my-4 {margin: 25px 0 25px 0;}

.local-m-8 {margin: 45px;}
.local-mx-8 {margin: 0 45px 0 45px;}
.local-my-8 {margin: 45px 0 45px 0;}

.local-p-2 {padding: 10px;}
.local-px-2 {padding: 0 10px 0 10px;}
.local-py-2 {padding: 10px 0 10px 0;}

.local-p-4 {padding: 25px;}
.local-px-4 {padding: 0 25px 0 25px;}
.local-py-4 {padding: 25px 0 25px 0;}

.local-p-8 {padding: 45px;}
.local-px-8 {padding: 0 45px 0 45px;}
.local-py-8 {padding: 45px 0 45px 0;}

.local-mt-2 {margin-top: 10px;}
.local-ml-2 {margin-left: 10px;}
.local-mb-2 {margin-bottom: 10px;}
.local-mr-2 {margin-right: 10px;}

.local-mt-4 {margin-top: 25px;}
.local-ml-4 {margin-left: 25px;}
.local-mb-4 {margin-bottom: 25px;}
.local-mr-4 {margin-right: 25px;}

.local-mt-8 {margin-top: 45px;}
.local-ml-8 {margin-left: 45px;}
.local-mb-8 {margin-bottom: 45px;}
.local-mr-8 {margin-right: 45px;}

.local-pt-2 {padding-top: 10px;}
.local-pl-2 {padding-left: 10px;}
.local-pb-2 {padding-bottom: 10px;}
.local-pr-2 {padding-right: 10px;}

.local-pt-4 {padding-top: 25px;}
.local-pl-4 {padding-left: 25px;}
.local-pb-4 {padding-bottom: 25px;}
.local-pr-4 {padding-right: 25px;}

.local-pt-8 {padding-top: 45px;}
.local-pl-8 {padding-left: 45px;}
.local-pb-8 {padding-bottom: 45px;}
.local-pr-8 {padding-right: 45px;}


/** Containers **/
.local-container-2 {
	margin: 0 auto;
	width: 70%;
}
.local-container-4 {
	margin: 0 auto;
	width: 80%;
}
.local-container-8 {
	margin: 0 auto;
	width: 90%;
}
/*  Flexbox */
/*  Float */
.local-float-left {
	float: left;
}
.local-float-right {
	float: right;
}
/*  Shadow  */
.local-shadow {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
/* Border */
.border {
	border: .5px solid rgba(0,0,0,.2);
}

/* Positioning */
.fixed {
	position: fixed;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}

 
/* Ubuntu  */
.ubuntu {
	font-family: 'Ubuntu', sans-serif;
}
/* Poppins */
.poppins {
	font-family: 'Poppins', sans-serif;
}
/* Cabin */
.cabin {
	font-family: 'Cabin', sans-serif;
}
/* Sizes  */
.local-text-xl {
	font-size: 40px;
}
.local-text-bg {
	font-size: 35px;
}
.local-text-md {
	font-size: 25px;
}
.local-text-sm {
	font-size: 12px;
}
.local-text-xs {
	font-size: 10px;
}
/* Place  */
.local-text-left {
	text-align: left;
}
.local-text-center {
	text-align: center;
}
.local-text-right {
	text-align: right;
}
/* Colors */
.local-text-white { 
	color: white; 
}
.local-text-light { 
	color: var(--light) 
}
.local-text-dark { 
	color: var(--dark) 
}
.local-text-black { 
	color: black 
}
.local-text-primary { 
	color: var(--primary) 
}
.local-text-success { 
	color: var(--success) 
}
.local-text-danger { 
	color: var(--danger) 
}
.local-text-info { 
	color: var(--info) 
}
.local-text-warning { 
	color: var(--warning) 
}
